apiVersion: v1
kind: ConfigMap
metadata:
  name: zigbee2mqtt-config
  namespace: zigbee2mqtt
data:
  configuration.yaml: |
    homeassistant: true
    permit_join: false
    mqtt:
      base_topic: zigbee2mqtt
      server: 'mqtt://mosquitto.mqtt.svc.cluster.local:1883'
    serial:
      port: /dev/ttyUSB0
      adapter: zstack
    advanced:
      log_level: info
      pan_id: GENERATE
      channel: 25
      network_key: GENERATE
    frontend:
      port: 8080
    experimental:
      new_api: true
      transmit_power: 20
      touchlink: true
